<%- include('./partials/header') %>

<!--Background-->
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('/backImg.jpeg');
    background-repeat: no-repeat ;
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
  "
>
  <h2 class="text-white animated-text">
    <span class="span1"></span>
    <span class="span2"></span>
    <span class="span3"></span>
    <span class="span4"></span>
    <span class="span5"></span>
    <span class="span6"></span>
    <span class="span7"></span>
    <span class="span8"></span>
    <span class="span9"></span>
    <span class="span10"></span>
    <span class="span11"></span>
    <span class="span12"></span>
    <span class="span13"></span>
    <span class="span14"></span>
  </h2>
</div>

<!--Sobre Nós-->
<div class="card border-0 mt-5" style="border: none;" >
    <div class="card-body sobreNosCard ">
      <h4 class="card-title"> <div class="h4">Sobre Nós</div></h4>
    </div>
</div>
  <div class="card">
    <img  id="img1" class="mx-auto" src="">

    <div class="card-body sobreNosCard1">
      <h5 class="card-title mt-2" style="text-align: center; color: #1b6cd5;">Transações simples mas eficazes</h5>
      <p class="card-text">A KambaPay é uma entidade empresaroal... Lorem ipsum dolor sit amet, 
        consectetur adipisicing elit. Hic, ad sed! Ipsum deserunt consectetur, excepturi fugit reiciendis
         consequuntur
         molestiae in, hic accusantium rem distinctio. Quas quam a facere qui alias
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsam dolore 
         ducimus possimus, necessitatibus ex atque neque blanditiis molestiae perspiciatis natus enim 
         maxime debitis? 
          odit sapiente sequi distinctio possimus..</p>

    </div>

  </div>


 <div class="body">

   <!--Serviços-->

   <div class="card border-0 mt-5">
    <div class="card-body sobreNosCard ">
      <h4 class="card-title"> <div class="h4">Serviços</div></h4>
    </div>
  </div>

  <div class="all-card-serviços">
    <div class="card mx-auto card-serviços " style="width: 18rem;" >
      <img src="/payment.jpeg" class="card-img-top" alt="..." style="image-rendering: pixelated;">
      <div class="card-body">
        <h5 class="card-title" style="color: #1b6cd5;">Pagamentos</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Ab debitis eveniet molestias enim minima culpa ipsum accusantium, maiores blanditiis aspernatur 
          consequuntur 
          laborum veritatis eligendi in provident laudantium delectus aperiam et.</p>
        <p class="card-text"><small class="" style="color: #1b6cd5; cursor: pointer;">Ler mais</small></p>
      </div>
    </div>
  
    <div class="card mx-auto mt-2 card-serviços" style="width: 18rem;">
      <img src="/account1.jpeg" class="card-img-top" alt="..." style="image-rendering: pixelated;">
      <div class="card-body">
        <h5 class="card-title" style="color: #1b6cd5;">Gerenciamento de conta</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Ab debitis eveniet molestias enim minima culpa ipsum accusantium, maiores blanditiis aspernatur 
          consequuntur 
          laborum veritatis eligendi in provident laudantium delectus aperiam et.</p>
        <p class="card-text"><small class="" style="color: #1b6cd5; cursor: pointer;">Ler mais</small></p>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 border-0 all-card-serviços1" id="all-card-serviços1" >
    <div class="col mt-3">
      <div class="card h-100">
        <img src="/payment.jpeg" class="card-img-top" alt="..." style="image-rendering: pixelated; height: 43%;">
        <div class="card-body">
          <h5 class="card-title" style="color: #1b6cd5;">Pagamentos</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Quo, voluptate officiis nesciunt dolore provident aliquam
             aliquid. Porro nobis assumenda excepturi ullam est similique quia ipsum
             qui iusto, ad consequatur maxime.Lorem, ipsum dolor sit amet consectetur
             adipisicing elit. Tempore perspiciatis libero beatae, quaerat accusamus
              laudantium praesentium voluptas maiores fugiat, omnis veniam nam enim 
            voluptatibus. Consectetur quas consequuntur 
            accusantium inventore ea?</p>

            <p class="card-text"><small class="" style="color: #1b6cd5; cursor: pointer;">Ler mais</small></p>
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card h-100">
        <img src="/account1.jpeg" class="card-img-top" alt="..." style="image-rendering: pixelated;" >
        <div class="card-body">
          <h5 class="card-title" style="color: #1b6cd5; cursor: pointer;">Gerenciamento de conta</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Tempore perspiciatis libero beatae, quaerat accusamus
             laudantium praesentium voluptas maiores fugiat, omnis veniam nam enim 
           voluptatibus. Consectetur quas consequuntur 
           accusantium inventore ea?Lorem, ipsum dolor sit amet consectetur
           adipisicing elit. Tempore perspiciatis libero beatae, quaerat accusamus
            laudantium praesentium voluptas maiores fugiat, omnis veniam nam enim 
          voluptatibus. Consectetur quas consequuntur 
          accusantium inventore ea?</p>

          <p class="card-text" ><small class="" style="color: #1b6cd5; cursor: pointer;">Ler mais</small></p>
        </div>
      </div>
    </div>
    
  </div>

  <!--Baixar-->
  <div class="card border-0 mt-5">
    <div class="card-body mx-auto" style="color: #1b6cd5;">
      <h4 class="card-title"> <div class="h4">Baixe nossos aplicativos para começar com os nossos serviços</div></h4>
    </div>
  </div>

  <div class="all-card-serviços ">
   
    <div class="card mx-auto card-serviços " style="width: 18rem;" >
        <h4 class="card-title mx-auto mt-4" style="color: #1b6cd5;" > <div class="h4">Android</div></h4>
      <img src="/android.png" class="card-img-top" alt="..." style="image-rendering: pixelated;">
      <p class="mx-auto mt-4" style="
      color: #fff;
      background-color: #1b6cd5;
      width: 50%;
      height: 20%;
      text-align: center;
      border-radius: 24px;
      ">Baixar</p>
    </div>
  
    <div class="card mx-auto mt-2 card-serviços" style="width: 18rem;">
        <h4 class="card-title mx-auto mt-4" style="color: #1b6cd5;" > <div class="h4">IOS</div></h4>
      <img src="/ios.png" class="card-img-top" alt="..." style="image-rendering: pixelated;">
      <p class="mx-auto mt-4" style="
      color: #fff;
      background-color: #1b6cd5;
      width: 50%;
      height: 20%;
      text-align: center;
      border-radius: 24px;
      ">Baixar</p>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 border-0 all-card-serviços1" id="all-card-serviços1" >
    <div class="col mt-3">
      <div class="card h-100">
        <h4 class="card-title mx-auto mt-4" style="color: #1b6cd5;" > <div class="h4">Android</div></h4>
        <div class="img-wrapper">
            <img src="/android.png" class="card-img-top" alt="..." style="image-rendering: pixelated;" >
        </div>
        
        <p class="mx-auto mt-4" style="
        color: #fff;
        background-color: #1b6cd5;
        width: 50%;
        height: 20%;
        text-align: center;
        border-radius: 24px;
        ">Baixar</p>
      </div>
      
    </div>
    <div class="col mt-3">
      <div class="card h-100">
        <h4 class="card-title mx-auto mt-4" style="color: #1b6cd5;" > <div class="h4">IOS</div></h4>
        <div class="img-wrapper">
            <img src="/ios.png" class="card-img-top" alt="..." style="image-rendering: pixelated;" >
        </div>
        
        <p class="mx-auto mt-4" style="
        color: #fff;
        background-color: #1b6cd5;
        width: 50%;
        height: 20%;
        text-align: center;
        border-radius: 24px;
        ">Baixar</p>
      </div>
    </div>
    
  </div>

  
  <!--Fim do body-->
</div>

<script>
    const img=document.getElementById('img1')
    function img1(){
       img.src='img1.png'
        setTimeout("img2()", 2000)
    }
    function img2(){
        img.src='img2.png'
        setTimeout("img3()", 3000)
    }
    function img3(){
        img.src='img3.png'
        setTimeout("img1()", 3000)
    }

</script>

<%-include('./partials/footer') %>