*{
    font-family: poppins;
}
/*Header*/

.textL span{
    color:  #000;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
 }
 .textL img{
    margin-top: -7px;

 }

 .textL .span{
 color: #1b6cd5;
 margin-left: -7px;
 }

.navbar ul{
    margin-left: 250px;
}
 .navbar ul li a{
    color: #1b6cd5;
}

/*menu*/

#btn{
    margin-top: 0%;
}

.bar1{
    border-radius: 24px;
    width: 35px;
    height: 4px;
    margin-bottom: 4%;
    background-color: #1b6cd5;
    transition: 1s;
}
.bar2{
    width: 30px;
    height: 4px;
    background-color: #a7a3a3;
    background-color: #000;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 24px;
    visibility: visible;
    display: block;
}
.des{
    display: none;
}
.bar3{
    width: 35px;
    height: 4px;
   background-color: #1b6cd5;
   margin-top:4%;
   border-radius: 24px;
   transition: 1s;
}

#nav-item{
    margin-left: 0;
}

 /*
 .head-menu{
 
     margin-left: 7%;
     display: flex;
     width:30%;
     color: #f9d979;
     margin-top: 3%;
 }
 .head-menu a{
     color: #f9d979;;
 }*/
 
 .head-menu{
     width:70%;
     height: 70%;
     color: #fff;
     background-color: #1b6cd5;
     position: fixed;
     margin-top:25px;
     margin-left: -50%;
     transition: 1s;
     opacity: 0;
     z-index: 1;
 }
 .toggle-menu{
    margin-left: 0%;
    opacity: 1;
 }
 .head-menu a{
     color: #fff;
     margin-top: 10%;
     transition: 5s;
 
 }
 .menu{
     margin-top: 30px;
     margin-left: 5%;
     font-size: 20px;
     transition: 5s;
 
 }

 /*Background*/
 
.back{
    margin-top: 10px ; 
}

/*Animated text*/
/*spans*/

.animated-text span{
    font-size: 20px;
    content: '';
    position: relative;
}

.animated-text .span1::before{
    content: '';
    animation: animate1 ease-in-out 40s infinite;
}
.animated-text .span2::before{
    content: '';
    animation: animate2 ease-in-out 40s infinite;
}
.animated-text .span3::before{
    content: '';
    animation: animate3 ease-in-out 40s infinite;
}
.animated-text .span4::before{
    content: '';
    animation: animate4 ease-in-out 40s infinite;
}
.animated-text .span5::before{
    content: '';
    animation: animate5 ease-in-out 40s infinite;
}
.animated-text .span6::before{
    content: '';
    animation: animate6 ease-in-out 40s infinite;
}
.animated-text .span7::before{
    content: '';
    animation: animate7 ease-in-out 40s infinite;
}
.animated-text .span8::before{
    content: '';
    animation: animate8 ease-in-out 40s infinite;
}
.animated-text .span9::before{
    content: '';
    animation: animate9 ease-in-out 40s infinite;
}
.animated-text .span10::before{
    content: '';
    animation: animate10 ease-in-out 40s infinite;
}
.animated-text .span11::before{
    content: '';
    animation: animate11 ease-in-out 40s infinite;
}
.animated-text .span12::before{
    content: '';
    animation: animate12 ease-in-out 40s infinite;
}
.animated-text .span13::before{
    content: '';
    animation: animate13 ease-in-out 40s infinite;
}
.animated-text .span14::before{
    content: '';
    animation: animate14 ease-in-out 40s infinite;
}


/*End spans*/

/*
.animated-text span::after{
    content: '';
    border-right: 2px solid #28669b;
    background-color: #024780;
    position: absolute;
    height: 100%;
    width: 0%;
    animation: type1 ease-in-out 40s infinite;
}*/

@keyframes animate1 {
    0%{
        content: 'O';
    }
     
}
@keyframes animate2 {
    2%{
        content: 'Kamba';
        color: #000;
        font-weight: bold;
    }
    
    
}
@keyframes animate3 {
    3%{
        content: 'Pay';
        color: #1b6cd5;
        font-weight: bold;
        margin-left: -10px;
    }
    
}
@keyframes animate4 {
    10%{
        content: 'simplifica';
        margin-left: 2px;
    }  
    
}
@keyframes animate5 {
    17%{
        content: 'e';
        margin-left: 2px;
    }  
    
}
@keyframes animate6 {
    24%{
        content: 'gerencia';
        margin-left: 2px;
    } 
}
@keyframes animate7 {
    31%{
        content: 'pagamentos';
        margin-left: 2px;
    }  
   
}
@keyframes animate8 {
    38%{
        content: 'em';
        margin-left: 2px;
    } 
    
}
@keyframes animate9 {
    45%{
        content: 'toda parte';
        margin-left: 2px;
    }   
    
}
@keyframes animate10 {
    52%{
        content: 'e a qualquer';
        margin-left: 2px;
    }   
   
}
@keyframes animate11 {
    59%{
        content: 'momento,';
        margin-left: 2px;
    }   
    
}
@keyframes animate12 {
    66%{
        content: 'facilitando';
    }  

}
@keyframes animate13 {
    73%{
        content: 'estudantes e seus';
       margin-left: 2px;
    }   
    

}
@keyframes animate14 {
80%{
    content: 'responsáveis';
    color: #28669b;
}
    
}



@keyframes type {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0%;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 0%{
        width: 200px;
    }

}

@keyframes animate {
 0%, 20%{
    content: 'Somos a PROFOCEL';
 }
 21%, 40%{
    content: 'Transformamos vidas';
 }
 41%, 60%{
    content: 'Be humble';
 } 
 61%, 80%{
    content: 'Do your job';
 }
 81%, 99%{
    content: 'And do it well!';
 }
    
}

/**/

/*Sobre Nós*/
.sobreNosCard{
    width: 100%;
    text-align: center;
    color: #1b6cd5;
}
.sobreNosCard .h4::before{
    content: '';
    background-color: #1b6cd5;
    width: 30%;
    height: .5px;
    position: absolute;
    margin-left: -31%;
    margin-top: 15px;
}
.sobreNosCard .h4::after{
    content: '';
    background-color: #1b6cd5;
    width: 30%;
    height: .5px;
    position: absolute;
    margin-top: 15px;
    margin-left: 1%;
}
#mais{
    display: none;
}
#menos{
    cursor: pointer;
    color: #1b6cd5;
}
/*Serviços*/

.card-serviços{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18);
}

#all-card-serviços1{
    display: none;
}
#img1{
    image-rendering: pixelated;
     width: 70%;
      height: 20%;
}

@media screen and (min-width: 576px) {
    .all-card-serviços{
        display: flex;
        margin-inline: 100px;
        display: none;
    }
    
    #all-card-serviços1{
        display: flex;
    }
    #img1{
        width: 300px;
        height: 400px;
    }
    
}

/*Footer*/
#social {
    width: 20px;
    margin-left: 10%;
    justify-content: center;
}
#social img{
    border-radius: 50%;
    align-items: center;
    width: 30px;
}
#logo_footer img{
    width: 100%;
    border-radius: 24px;
}

/*Baixar*/
.img-wrapper{
    max-width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
}


